* {
    direction: rtl !important;
}

.header {
    background-color: #ffffff;
    height: 100px;
}

.header-text {
    color: #000;
    font-family: Heebo;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 25px;
    position: relative;
}

.home-alert {
    max-width: 1000px;
    top: 15px;
}